.app-article-image-grid{
    
    
    
}
.col-image{
    /* min-width: 60%; */
    height: 40em;
}

.col-text{
    /* min-width: 40%; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.aligner-item{
    margin: 40px;
}