#app-header{
    height: 100vh;
}

.wgs-header-strip__banner-overlay-BLACK {
    background-color: rgb(0, 0, 0, 0.4);
    z-index: 2;
}

.wgs-header-strip__banner-overlay {
    position: absolute;
    width: 55%;
    height: calc(100% + 20px);
    top: -10px;
    left: -10px;
   
    transform: skewX(-13deg);
    transform-origin: left top;
    display: table;
}

.heading-wrapper{
  position: absolute;
  top: 25%;
  margin: 0px auto;
}

.heading-texts{
    color: #ffffff;
    position: absolute;
    z-index: 3;
    text-align: left;
    max-width: 350px;
}