#app-header{
    height: 100vh;
}



p{
        font-size: 1.2rem;
}

.wgs-header-strip__banner-overlay-BLACK {
    background-color: rgb(0, 0, 0, 0.4);
    z-index: 2;
}

.wgs-header-strip__banner-overlay {
    position: absolute;
    width: 55%;
    height: calc(100vh);
    
    left: -10px;
    transform: skewX(-13deg);
    transform-origin: left top;
    display: table;
}

.heading-wrapper{
  position: absolute;
  top: 25%;
  left: 25%;
  margin: 0px auto;
  min-width: 40%;
}

.heading-texts{
    color: #ffffff;
    position: absolute;
    z-index: 3;
    text-align: left;
    max-width: 350px;
}


.heading-wrapper .mouse_scroll{
    position: absolute;
    left: 0px;
    margin-top: 20px;

}


.app-logo{
    position: absolute;
    top: 0px;
    right: 32px;
    width: 180px;
    height: 200px;
    background-color: var(--black-transparent);
    padding: 10px;
    color: var(--white);
    font-weight: bold;
}