.app-footer{
    background-color: var(--primary);
    width: 100%;
    position: relative;
    height: auto;
    padding: 45px;
}

.app-footer .col{
    padding: 20px !important;
}

.app-footer a{
    color: var(--light-grey1);
    display: block;
    text-align: left;
    margin: 5px;
}

.app-footer h3{
    color: var(--dark-grey);
}

.app-footer .social{
    display: inline;

}

.app-footer .row{
    width: 100%;
}

.app-footer p{
    color: var(--light-grey1);
    text-align: left;
}
.app-footer h3{
    text-align: left;
    margin-top: 20px;
}



.app-footer .socials a{
    float: left;
        padding-right: 10px;
}